@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!(User.Identity.IsAuthenticated))
    {
        <h5>You have to Login to use the web application!</h5>
    }
        
    </div>
